{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=food_diary_db;Username=your_dev_username;Password=your_dev_password;"
  },
  "Serilog": {
    "MinimumLevel": {
      "Default": "Debug"
    },
    "WriteTo": [
      {
        "Name": "Console"
      },
      {
        "Name": "File",
        "Args": {
          "path": "log.txt",
          "rollingInterval": "Day"
        }
      }
    ]
  },
  "Mailserver": {
    "Hostname": "your-dev-smtp-server.com",
    "Port": 587,
    "Username": "your_dev_email_username",
    "Password": "your_dev_email_password",
    "EnableSsl": true
  },
  "JwtSettings": {
    "Secret": "your_development_jwt_secret_min_32_characters_long",
    "Issuer": "FoodDiaryApi",
    "Audience": "FoodDiaryApiUsers",
    "ExpiresInMinutes": 60
  },
  "FrontendUrl": "http://localhost:4173"
}
